{% extends "base_admin.html" %} {% block content %}

<h1>Login</h1>
<div class="container mt-5">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      {{ form.password }} {% if error %}
      <div class="alert alert-danger mt-2">
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'register' %}" class="btn btn-secondary">Registrar</a>
    <a href="{% url 'password_reset' %}" class="btn btn-link"
      >Esqueceu a senha?</a
    >
  </form>
</div>

{% endblock content %}
